{% extends 'layout.html' %}

{% block title %}

Change Password

{% endblock title %}

{% load static %}

{% block content %}
<div class="form-container">
    <p class="title">Login</p>
    <form class="form" method="post">
        {% csrf_token %}
            {% include 'partials/_form.html' %}
            <div class="forgot">
                <a rel="noopener noreferrer" href="{% url 'forgot_password' %}">Forgot Password ?</a>
            </div>
        </div>
        <a href=""><button class="sign">Save</button></a>
    </form>
</div>

{% endblock content %}