{% extends 'layout.html' %}

{% block title %}

Mail & Password

{% endblock title %}

{% load static %}

{% block content %}

<div class="form-container">
    <p class="title">Mail & Password</p>
    <form class="form" method="post">
        {% csrf_token %}
        {% include 'partials/_form.html' %}
        <br>
        <br>
        <a href=""><button class="sign">Save</button></a>
        <br>
        <a href="{% url 'logout' %}" class="sign" style="width: 92%;" >Logout</a>
    </form>
</div>

{% endblock content %}