{% extends 'layout.html' %}

{% block title %}

Password

{% endblock title %}

{% load static %}

{% block content %}

<div class="form-container">
    <p class="title">Reset Password <br> {{ user.username|title }}</p>
    {% if form.errors %}
    <div class="alert alert-danger">
        {{ form.errors }}
    </div>
    {% endif %}
    <form class="form" method="post">
        {% csrf_token %}
        {% include 'partials/_form.html' %}
        <br>
        <br>
        <a href=""><button class="sign">Reset password</button></a>
        <br>
        <a href="{% url 'logout' %}" class="sign" style="width: 92%;" >Logout</a>
    </form>
</div>

{% endblock content %}