{% extends 'layout.html' %}

{% block title %}

Forgot Password

{% endblock title %}

{% load static %}

{% block content %}

<div class="form-container">
    <p class="title">Reset Password</p>
    <form class="form" method="post">
        {% csrf_token %}
        {% include 'partials/_form.html' %}
        <br>
        <br>
        <button type="submit" class="sign">Reset password</button>
    </form>
    <p class="signup">Do you have any account?
        <a rel="noopener noreferrer" href="{% url 'login_site' %}" class="">Login</a>
    </p>
</div>

{% endblock content %}